.App {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: Circular,"나눔 고딕","Nanum Gothic","맑은 고딕","Malgun Gothic","Apple Gothic","돋움",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
